In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1392,tt0358273,28000000,186438883,Walk the Line,Joaquin Phoenix|Reese Witherspoon|Ginnifer Goo...,James Mangold,Love is a burning thing.,A chronicle of country music legend Johnny Cas...,136,Drama|Music|Romance,Tree Line Films|Konrad Pictures|Catfish Produc...,9/13/2005,7.0,2005
1741,tt0455960,10000000,25399945,The Hitcher,Sean Bean|Sophia Bush|Zachary Knighton|Neal Mc...,Dave Meyers,Never pick up strangers.,While driving through the New Mexico Desert du...,84,Action|Horror|Crime,Intrepid Pictures|Focus Films|Platinum Dunes,1/19/2007,5.4,2007
1248,tt2017038,9000000,6108720,All Is Lost,Robert Redford,J.C. Chandor,Never give up.,"Deep into a solo voyage in the Indian Ocean, a...",106,Action|Adventure|Drama,Sudden Storm Productions|FilmNation Entertainm...,10/18/2013,6.5,2013
1720,tt0413099,175000000,173000000,Evan Almighty,Steve Carell|Lauren Graham|John Goodman|Jimmy ...,Tom Shadyac,A comedy of biblical proportions,Buffalo newsman Evan Baxter is elected to Cong...,96,Fantasy|Comedy|Family,Columbia Pictures|Universal Pictures|Spyglass ...,6/9/2007,5.2,2007
229,tt2978462,36000000,52424533,Dolphin Tale 2,Morgan Freeman|Ashley Judd|Nathan Gamble|Cozi ...,Charles Martin Smith,WINTER's amazing true story... now has HOPE.,The team of people who saved Winter's life rea...,107,Family|Drama,Alcon Entertainment|Color Force|Boxing Cat Films,9/12/2014,6.8,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {
    '1':'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
    '2':'Gods and Generals (tt0279111)',
    '3':'Winnie the Pooh (tt1449283)',
    '4':'110',
    '5':'107',
    '6':'Avatar (tt0499549)',
    '7':'The Lone Ranger (tt1210819)',
    '8':'1478',
    '9':'The Dark Knight (tt0468569)',
    '10':'The Lone Ranger (tt1210819)',
    '11':'Drama',
    '12':'Drama',
    '13':'Peter Jackson',
    '14':'Robert Rodriguez',
    '15':'Chris Hemsworth',
    '16':'Matt Damon',
    '17':'Action',
    '18':'K-19: The Widowmaker (tt0267626)',
    '19':'2015',
    '20':'2014',
    '21':'Сентябрь',
    '22':'450',
    '23':'Peter Jackson',
    '24':'Four By Two Productions',
    '25':'Midnight Picture Show',
    '26':'Inside Out, The Dark Knight, 12 Years a Slave',
    '27':'Daniel Radcliffe, Rupert Grint'
}

In [44]:
#changing string format of the time into the datetime format
data['release_date'] = pd.to_datetime(data['release_date']) 
data['release_date']

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

In [35]:
# splitting 'genres' strings into lists
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data['genres']

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1884              [Adventure, Action, Science Fiction]
1885                         [Horror, Family, Foreign]
1886    [Adventure, Animation, Action, Comedy, Family]
1887                                   [Comedy, Drama]
1888                                        [Thriller]
Name: genres, Length: 1889, dtype: object

In [38]:
# getting the 'profit' column, the difference between the revenue and budget of the movie
data['profit'] = data['revenue'] - data['budget'] 
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]",Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]",Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]",Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]",Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]",Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

In [50]:
# splitting 'director' strings into lists
data['director'] = data['director'].apply(lambda x: x.split('|')) 
data['director']

0        [Colin Trevorrow]
1          [George Miller]
2       [Robert Schwentke]
3            [J.J. Abrams]
4              [James Wan]
               ...
1884        [Bryan Singer]
1885            [Uli Edel]
1886         [Des McAnuff]
1887        [Diane Keaton]
1888        [Mary Lambert]
Name: director, Length: 1889, dtype: object

In [30]:
# splitting 'cast' strings into lists
data['cast'] = data['cast'].apply(lambda x: x.split('|')) 
data['cast']

0       [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...
1       [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...
2       [Shailene Woodley, Theo James, Kate Winslet, A...
3       [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...
4       [Vin Diesel, Paul Walker, Jason Statham, Miche...
                              ...
1884    [Patrick Stewart, Hugh Jackman, Ian McKellen, ...
1885    [Richard E. Grant, Jonathan Lipnicki, Jim Cart...
1886    [Rene Russo, Jason Alexander, Piper Perabo, Ra...
1887    [Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...
1888    [Susan Ward, Lori Heuring, Matthew Settle, Nat...
Name: cast, Length: 1889, dtype: object

In [11]:
# splitting 'production_companies' strings into lists
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|')) 
data['production_companies']

0       [Universal Studios, Amblin Entertainment, Lege...
1       [Village Roadshow Pictures, Kennedy Miller Pro...
2       [Summit Entertainment, Mandeville Films, Red W...
3           [Lucasfilm, Truenorth Productions, Bad Robot]
4       [Universal Pictures, Original Film, Media Righ...
                              ...
1884    [Twentieth Century Fox Film Corporation, Donne...
1885                                    [New Line Cinema]
1886    [Universal Pictures, Capella International, KC...
1887    [Laurence Mark Productions, Columbia Pictures ...
1888                              [Warner Bros. Pictures]
Name: production_companies, Length: 1889, dtype: object

# 1. У какого фильма из списка самый большой бюджет?

In [ ]:
# "+"
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [12]:
# looking for the maximum budget:
data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id', 'budget']]

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# "+"
answers['2'] = '2. Gods and Generals (tt0279111)'

In [13]:
# looking for the maximum value of the 'runtime' column:
data[data['runtime'] == data['runtime'].max()][[ 'original_title','imdb_id', 'runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
# "+"
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [14]:
# looking for the minimum value of the 'runtime' column:
data[data['runtime'] == data['runtime'].min()][['original_title','imdb_id', 'runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [0]:
# "+"
answers['4'] = 110

In [15]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [0]:
# "+"
answers['5'] = 107

In [16]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# "+"
answers['6'] = '6. Avatar (tt0499549)'

In [17]:
# looking for the maximum profit:
data[data['profit'] == data['profit'].max()][['original_title','imdb_id','profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [0]:
# "+"
answers['7'] = '7. The Lone Ranger (tt1210819)'

In [18]:
# looking for the minimum profit:
data[data['profit'] == data['profit'].min()][['original_title','imdb_id','profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
# "+"
answers['8'] = 1478

In [19]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
# "+"
answers['9'] = '9. The Dark Knight (tt0468569)'

In [20]:
data['release_date'] = pd.to_datetime(data['release_date'])
movie_released_2008 = data[(data['release_date'] >= '2008-01-01') & (data['release_date'] <= '2008-12-31')] # creating a list with movies released in 2008  

display(
    movie_released_2008[movie_released_2008['revenue'] == movie_released_2008['revenue'].max()]
    [['original_title', 'imdb_id', 'revenue']])

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
# "+"
answers['10'] = '10. The Lone Ranger (tt1210819)'

In [21]:
movies_2012_2014 = data[data['release_year'].isin(range(2012, 2015))] # selecting movies from 2012 to 2014 

display(
    movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()]
    [['original_title', 'imdb_id', 'profit']])

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [22]:
movies_2012_2014 = data[(data['release_date'] >= '2012-01-01') & (data['release_date'] <= '2014-12-31')] # selecting movies from 2012 to 2014 

display(
    movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()]
    [['original_title', 'imdb_id', 'profit']])

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# "+"
answers['11'] = '11. Drama'

In [23]:
genres = data['genres'].sum() # merging the lists into one list
c = Counter(genres)
c.most_common() # returning a list of the genres and their counts from the most common to the least

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

In [24]:
pd.Series(data['genres'].sum()).value_counts(ascending=False) # returning a Series containing counts of 'genres' in ascending order

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
# "+"
answers['12'] = '12. Drama'

In [25]:
profitable_genre = data[data['profit'] > 0] # movies with profit> 0 are considered as profitable
pd.Series(profitable_genre['genres'].sum()).value_counts(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
# "+"
answers['13'] = '13. Peter Jackson'

In [26]:
data = pd.read_csv('movie_bd_v5.csv')
movies = pd.concat([data['revenue'], data['director'].str.split('|')], axis=1).explode('director') # creating a new column with lists of 'revenues' and 'directors' and sorting it by director
director_box_office = movies.groupby('director', sort=False)['revenue'].sum() # grouping movies by 'director' and summing up its revenue 
director_box_office.sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
# "+"
answers['14'] = '14. Robert Rodriguez'

In [28]:
action_director = data[data['genres'].str.contains('Action', case=False)]['director'].str.split('|').explode() # sorting lists with genres to 'Action' and then sorting it up to the directors
action_director.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Phillip Noyce         1
Jon Avnet             1
Anne Fletcher         1
James Gunn            1
MÃ¥ns MÃ¥rlind        1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
# "+"
answers['15'] = '15. Chris Hemsworth'

In [31]:
movies_2012 = data[data['release_year'] == 2012] # defining the 'release_year'
cast = pd.Series(movies_2012['cast'].sum())
cast = cast.value_counts(ascending=False)

for actor in cast.index:
    cast[actor] = movies_2012[movies_2012['cast'].map(lambda x: actor in x)]['revenue'].sum() # sorting the rows with actors and summing up their revenues

cast.sort_values(ascending=False)

Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Mark Ruffalo         1519557910
Robert Downey Jr.    1519557910
                        ...
Paula Patton            3428048
Sami Gayle              2106557
Josh Lucas              2106557
Danny Huston            2106557
Nicolas Cage            2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
# "+"
answers['16'] = '16. Matt Damon'

In [32]:
high_budget_movies = data[data['budget'] > data['budget'].mean()] # the budget of high-budget movies is higher than the average for the dataset
pd.Series(high_budget_movies['cast'].sum()).value_counts(ascending=False)

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Eddie Murphy        15
Tom Cruise          15
                    ..
Leslie Stefanson     1
Dana Ivey            1
Emile Hirsch         1
Joe Morton           1
Lara Flynn Boyle     1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
# "+"
answers['17'] = '17. Action'

In [36]:
data_Cage = data[data['cast'].map(lambda x: 'Nicolas Cage' in x)] # using map to sort lists of 'cast' to 'Nicolas Cage'
pd.Series(data_Cage['genres'].sum()).value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
# "+"
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

In [39]:
Paramount_data = data[data['production_companies'].str.contains('Paramount Pictures', case=False)] # sorting lists of 'production_companies' to 'Paramount Pictures'
Paramount_data[Paramount_data['profit'] == Paramount_data['profit'].min()][['original_title', 'imdb_id', 'profit']]

           original_title    imdb_id    profit
925  K-19: The Widowmaker  tt0267626 -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
# "+"
answers['19'] = 2015

In [45]:
sum_revenue_year = data['release_year'].value_counts() # returning a Series containing counts of unique values 'release_year'

for year in sum_revenue_year.index:
    sum_revenue_year[year] = data[data['release_year'] == year]['revenue'].sum()

sum_revenue_year.sort_values(ascending=False)

2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: release_year, dtype: int64

In [41]:
sum_revenue_year = data.groupby('release_year', sort=False)['revenue'].sum() # grouping data by 'release_year' and summing up the year revenue 
sum_revenue_year.sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
# "+"
answers['20'] = 2014

In [42]:
Warner_Bros_data = data[data['production_companies'].str.contains('Warner Bros')] # sorting lists of 'production_companies' to 'Warner Bros'
movies = Warner_Bros_data.groupby('release_year', sort=False)['profit'].sum().sort_values(ascending=False) # grouping WB data by 'release_year' and summing up the year profit
movies

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
# "+"
answers['21'] = 'Сентябрь'

In [46]:
data['release_month'] = data['release_date'].dt.month
most_movies_month = data['release_month'].value_counts().sort_index() # creating index of month movies 

for month in most_movies_month.index:
    most_movies_month[month] = len(data[data['release_month'] == month]) # counting movies pro month

most_movies_month.sort_values(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
# "+"
answers['22'] = 450

In [47]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
data.month[(data.month == 6) | (data.month == 7) | (data.month == 8)].count()

450

In [48]:
summer_sum = len(data[(data['release_month'] >= 6) & (data['release_month'] < 9)]) 
summer_sum

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
# "+"
answers['23'] = '23. Peter Jackson'

In [51]:
winter = data[data['release_month'].isin([12, 1, 2])] # defining the 'winter' range
pd.Series(winter['director'].sum()).value_counts().sort_values(ascending=False)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
                    ..
JosÃ© Padilha        1
Carl Rinsch          1
Stefen Fangmeier     1
Tom Tykwer           1
Jay Russell          1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
# "+"
answers['24'] = '24. Four By Two Productions'

In [52]:
data['title_length'] = data['original_title'].str.len() # creating a column with the length of 'original_title' for each movie
movies = pd.concat([data['title_length'], data['production_companies'].str.split('|')], axis=1).explode('production_companies')
movies_grouped = movies.groupby(by='production_companies')['title_length'].mean() # grouping the movies by companies and calculating the mean value of all title_lengths for each company
movies_grouped.sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
# "+"
answers['25'] = '25. Midnight Picture Show'

In [53]:
movies = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts(ascending=False)
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' '))) # creating a new column with the words length in overview for each movie

for company in movies.index:
    movies[company] = data['overview_words_length'][data['production_companies'].map(lambda x: True if company in x else False)].mean() # checking each company and comparing the mean overview length for each company
pd.DataFrame(movies).sort_values(0, ascending=False)

                                         0
Midnight Picture Show                  175
Room 9 Entertainment                   161
Heineken Branded Entertainment         161
98 MPH Productions                     159
Brookwell-McNamara Entertainment       156
...                                    ...
Projection Pictures                     13
Phantom Four                            13
Our Stories Films                       13
Empire Pictures                         11
Motion Picture Corporation of America   11

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
# "+"
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

In [54]:
best_movies = data[data['vote_average'] > data['vote_average'].quantile(0.99)]['original_title'] # sorting the df, so that all rating values were higher than the quantile value
best_movies

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
# "+"
answers['27'] = '27. Daniel Radcliffe, Rupert Grint'

In [55]:
from itertools import combinations

cast_couples_list = (data['cast'].map(lambda x: list(combinations(x, 2)))).sum() # sorting and summing up the cast couples without repeated elements in each combination
cast_couples = pd.Series(cast_couples_list)
cast_couples.value_counts(ascending=False)

(Daniel Radcliffe, Emma Watson)         8
(Daniel Radcliffe, Rupert Grint)        8
(Rupert Grint, Emma Watson)             7
(Ben Stiller, Owen Wilson)              6
(Johnny Depp, Helena Bonham Carter)     6
                                       ..
(Vicky Krieps, Cate Blanchett)          1
(Katherine Heigl, Judy Greer)           1
(Jaden Smith, Yu Rong-Guang)            1
(Bruce Willis, John Patrick Amedori)    1
(Wesley Snipes, Michael Biehn)          1
Length: 18121, dtype: int64

# Submission

In [56]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [57]:
# и убедиться что ни чего не пропустил)
len(answers)

27